In [15]:
from pyspark.sql import HiveContext
hive_context = HiveContext(sc)

In [22]:

print "Count of each gender"
hive_context.sql("SELECT  Gender, COUNT(Gender) AS Count FROM user_Sales GROUP BY  Gender").show()

Count of each gender
+------+-----+
|Gender|Count|
+------+-----+
|     F|  124|
|     M|  333|
+------+-----+

In [17]:
print "Count of Gender and Age "
hive_context.sql("SELECT  Age ,Gender, COUNT(Age) AS age_count FROM user_Sales GROUP BY Age, Gender").show()

Count of Gender and Age
+-----+------+---------+
|  Age|Gender|age_count|
+-----+------+---------+
|51-55|     F|        8|
|51-55|     M|       23|
|26-35|     F|       27|
|26-35|     M|       95|
|36-45|     F|       21|
|36-45|     M|       59|
|46-50|     F|       17|
|46-50|     M|       27|
|  55+|     F|        6|
|  55+|     M|       19|
|18-25|     F|       26|
| 0-17|     F|       10|
|18-25|     M|       80|
| 0-17|     M|        3|
+-----+------+---------+

In [18]:
print "Age range that Spend more money and buy more things"
hive_context.sql("SELECT  Age,  ROUND(CAST(SUM(Money_Spend) AS DECIMAL(38,10)),2) AS money_Spend,COUNT(No_Of_Purchase) AS item_Purchase FROM user_Sales GROUP BY Age").show()

Age range that Spend more money and buy more things
+-----+-----------+-------------+
|  Age|money_Spend|item_Purchase|
+-----+-----------+-------------+
|51-55| 1733930.00|           31|
|46-50| 2488085.00|           44|
| 0-17|  522380.00|           13|
|36-45| 4894042.00|           80|
|26-35| 9477362.00|          122|
|  55+|  949250.00|           25|
|18-25| 7031894.00|          106|
+-----+-----------+-------------+

In [19]:
print "The Area that a person stay in the city  (A B C) and its reflection on the money they spends  and the things they buy "
hive_context.sql("SELECT  City_Category,   ROUND(CAST(SUM(Money_Spend) AS DECIMAL(38,10)),2)  AS money_Spend , COUNT(No_Of_Purchase) AS item_Purchase  FROM user_Sales GROUP BY City_Category").show()

The Area that a person stay in the city  (A B C) and its reflection on the money they spends  and the things they buy
+-------------+-----------+-------------+
|City_Category|money_Spend|item_Purchase|
+-------------+-----------+-------------+
|            A| 7778763.00|          111|
|            B|10760687.00|          105|
|            C| 8646460.00|          210|
+-------------+-----------+-------------+

In [20]:
print "Single vs couple who spends more money and buy more things "
hive_context.sql("SELECT  Marital_Status, COUNT(Marital_Status) AS Marital_Status_count,  ROUND(CAST(SUM(Money_Spend) AS DECIMAL(38,10)),2)  AS money_Spend , COUNT(No_Of_Purchase) AS item_Purchase FROM user_Sales GROUP BY Marital_Status").show()

Single vs couple who spends more money and buy more things
+--------------+--------------------+-----------+-------------+
|Marital_Status|Marital_Status_count|money_Spend|item_Purchase|
+--------------+--------------------+-----------+-------------+
|             0|                 258|16607498.00|          258|
|             1|                 168|10578412.00|          168|
+--------------+--------------------+-----------+-------------+

In [21]:
print "How long does a person stay in the city and its reflection on the money they spends  and the things they buy"
hive_context.sql("SELECT  Stay_In_Current_City_Years,  ROUND(CAST(SUM(Money_Spend) AS DECIMAL(38,10)),2)  AS money_Spend , COUNT(No_Of_Purchase) AS item_Purchase  FROM user_Sales GROUP BY Stay_In_Current_City_Years").show()

How long does a person stay in the city and its reflection on the money they spends  and the things they buy
+--------------------------+-----------+-------------+
|Stay_In_Current_City_Years|money_Spend|item_Purchase|
+--------------------------+-----------+-------------+
|                         0| 4140359.00|           63|
|                         1|10318830.00|          157|
|                         2| 3860964.00|           71|
|                         3| 4747783.00|           70|
|                        4+| 4227845.00|           68|
+--------------------------+-----------+-------------+